h1 {
    font-family: sans-serif;
    color: rgb(14, 86, 181);
    text-align: center;
}

#ship {
    font-family: sans-serif;
    font-size: 22px;
    color: rgb(14, 86, 181);
    text-align: center;
}